
@{
    ViewBag.Title = "PaymentBookingId";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
@*<!DOCTYPE html>
<html>
<body>

    <h2>Booking Form</h2>

    <form action="/submit-booking" method="post">
        <label for="bookingId">Booking ID:</label><br>
        <input type="text" id="bookingId" name="bookingId"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>*@


@using (Html.BeginForm("PaymentBookingId", "Payment", FormMethod.Post))
{
    <table>
        <tr>
            <th>Booking Id</th>
            <td>@Html.TextBox("bookingId")</td>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
        
    </table>
}